name: Build and Test
on:
  push:
  schedule:
    - cron:  '0 0 * * 0' # weekly

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-22.04]
        build_type: ['Release']
        dep_version:
          - abseil: heads/master
            protobuf: heads/master
            grpc: heads/master

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Install Dependency Packages
        run: |
          sudo apt update
          sudo apt install -y \
          build-essential \
          autoconf libtool pkg-config \
          git cmake libc-ares-dev libre2-dev libssl-dev \
          zlib1g-dev curl \
          protobuf-compiler libprotobuf-dev \
          protobuf-compiler-grpc libgrpc-dev libgrpc++-dev

      - name: "Configure"
        run: |
          mkdir build
          sudo cmake -B build -DCMAKE_BUILD_TYPE=${{ matrix.build_type }} .

      - name: "Build"
        run: sudo cmake --build build --config ${{ matrix.build_type }}
